body {
    height: 100vh;
    margin: 0px;
    padding: 0px;

    background-image: linear-gradient(
        to bottom,
      rgb(140, 139, 240),
      rgba(144, 206, 225, 0.963)
    );
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* body structure */
body, main, nav, header, nav a, #desk {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main, nav, footer {
    width: 100%;
    text-align: center;
}

main, nav {
    height: 70%;
}

footer {
    height: 10%;
}

/* header */
header {
    height: 20%;
    align-self: stretch;
    background-color: rgb(141, 125, 180);

    margin: 1rem;
    border: 0.1rem solid darkblue;
    border-radius: 1rem;
}

header h1 {
    color: darkblue;
    font-size: 4rem;
    font-weight: 200;

    letter-spacing: 1rem;
    text-transform: uppercase;

    margin: 1rem;
    padding-bottom: 0.5rem;
}

/* nav anchors */
nav a {
    height: 5rem;
    width: 20rem;
    
    border: solid 0.1rem darkblue;
    border-radius: 1.2rem;
    margin-top: 1rem;

    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    text-decoration: none;
    color: black;
}
