/* playground */
main {
    flex-direction: row;
    align-items: stretch;
}

#desk {
    width: 85%;
    text-transform: uppercase;
    margin-right: 1rem;
    border: 1px solid #181563;

    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;

    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* score tabs */
aside {
    background-color: rgba(106, 105, 160, 0.519);
    width: 15%;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    
    align-self: stretch;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

aside h2 {
    margin: 0.5rem;
    margin-bottom: 1rem;
    color: #181563;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.scoreBox {
    border-radius: 0.5rem;
    margin: 0.5rem 1rem;
}

.scoreBox h3 {
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(9, 9, 87);
    margin: 0.5rem;
    margin-bottom: 0.2rem;
}

.scoreBox p {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color: #dbae27;
    font-size: 2.5rem;
}

#Yellow {
    margin-bottom: 1rem;
}

#Yellow p {
    color: #2e320e;
}


/* cards */
.card {
    background-image: repeating-linear-gradient(
        -45deg,
        #451da9,
        #c38f17
        30px
    );
    height: 80px;
    width: 80px;
    border: 1px solid #31316b;
    border-radius: 10px;
    margin: 3px;

    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.card .card-back-visible {
    display: block;
    border-radius: 10px;
}

.card .card-back-hidden {
    display: none;
}

.card:hover,
.card:active {
    --card-brightness: 1.3;
    --card-cursor: pointer;

    margin: 0px;
    filter: brightness(var(--card-brightness));
    cursor: var(--card-cursor);
}

/* #desk img {
    border-radius: 10px;
} */

/* 'back to menu' anchor */
#back {
    background-color: rgb(227, 80, 60);
    background-image: none;
    margin: 1rem;
}

#back:hover,
#back:active {
    filter: brightness(1.4);
    border: 2px solid rgba(36, 10, 115, 0.64);
    cursor: pointer;
    margin: 1rem;
}

nav {
    justify-content: end;
}

#desk p {
    color: darkblue;
    font-size: 2.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    padding: 1.5rem;
    box-shadow: 0rem 0rem 3rem 1.5rem rgb(185, 157, 86);

    background-color: rgb(185, 157, 86);
    border-radius: 2rem;
}

.vacant {
    height: 80px;
    width: 80px;
}