#Blue {
    background-color: #3a35db;
    box-shadow: 0rem 0rem 1.5rem 0.75rem #1710e3;
    filter: none;
}

#Red {
    background-color: #d73737;
    box-shadow: none;
    filter: saturate(0.4) blur(2px);
}

#Green {
    background-color: #32b13b;
    box-shadow: none;
    filter: saturate(0.4) blur(2px);
}

#Yellow {
    background-color: #a2b132;
    box-shadow: none;
    filter: saturate(0.4) blur(2px);
}