/* menu buttons */
/* #start {
    background-color: rgba(239, 167, 32, 0.875);
}

#sett {
    background-color: rgba(75, 75, 192, 0.903);
} */

/* #start:hover,
#start:active {
    filter: brightness(1.2);
    cursor: pointer;
}

#sett:hover,
#sett:active {
    filter: brightness(1.4);
    cursor: pointer;
} */
