body {
    height: 100vh;

    border: solid 5px lightgreen;
    margin: 0px;
    padding: 0px;

    background-image: linear-gradient(
        to bottom,
      rgb(140, 139, 240),
      rgba(144, 206, 225, 0.963)
    );
     
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

header, main, footer {
    width: 100%;
    text-align: center;
}

header {
    height: 15%;
}

main {
    height: 70%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 15%;
}


section {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);

    column-gap: 20px;
    row-gap: 20px;

    justify-items: center;
    align-items: center;
}

main button {
    height: 80px;
    width: 80px;
    
    background-image: repeating-linear-gradient(
        -45deg,
        rgb(69, 29, 169),
        rgb(195, 143, 23)
        30px
    );

    border: solid rgb(49, 49, 107) 0.5px;
    border-radius: 10px;
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;

}

main button:hover,
main button:active {
    background-image: repeating-linear-gradient(
        -45deg,
        rgb(111, 85, 179),
        rgb(214, 180, 99)
        30px
    );
    margin: 0px;
    border: solid 3px rgba(36, 10, 115, 0.64);
    cursor: pointer;
}

main img {
    border-radius: 10px;
}