:root {
    --color-small: #dbdb6b;
    --color-medium: #8080d2;
    --color-large: #d089d0;
    --color-switchedOn: #7bfc03;
}

/*** SETTINGS page ***/
/* 'back' anchor */
#back {
    min-height: 5rem;
    min-width: 20rem;

    background-color: rgb(227, 80, 60);
    background-image: none;

    margin-top: 1rem;
}

#back:hover,
#back:active {
    filter: brightness(1.4);
    cursor: pointer;
}

/* 'game size' anchor */
#gSize {
    background-color: rgb(26, 211, 118);
}

#gSize:hover,
#gSize:active {
    filter: brightness(1.4);
    cursor: pointer;
}


/*** GAME SIZE SETTINGS page ***/
/* buttons */
.size {
    height: 3rem;
    width: 12rem;

    border: solid 0.1rem darkblue;
    border-radius: 1rem;
    margin-top: 1rem;

    font-size: 1rem;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    display: flex;
    justify-content: flex-start;
    column-gap: 1.6rem;
    align-items: center;
}

.size svg {
    height: 30px;
    width: 30px;
}

#S {
    background-color: var(--color-small);
}

#M {
    background-color: var(--color-medium);
}

#L {
    background-color: var(--color-large);
}

#S:hover,
#S:active {
    filter: brightness(1.2);
    cursor: pointer;
}

#M:hover,
#M:active {
    filter: brightness(1.2);
    cursor: pointer;
}

#L:hover,
#L:active {
    filter: brightness(1.2);
    cursor: pointer;
}
